<div>

    <p> State: {{data.state}} </p>
    <p> Date: {{data.date}} </p>


    <table class="table">

        <thead>
        <tr>
            <th scope="col">Positive</th>
            <th scope="col">Negative</th>
            <th scope="col">Recovered</th>
            <th scope="col">PositiveIncrease</th>
            <th scope="col">Total</th>
            <th scope="col">TotalTestResults</th>
            <th scope="col">DataQualityGrade</th>
        </tr>
        </thead>


        <tbody>
        <tr>
            <th scope="row">{{data.positive}}</th>
            <td>{{data.negative}}</td>
            <td>{{data.recovered}}</td>
            <td>{{data.positiveIncrease}}</td>
            <td>{{data.total}}</td>
            <td>{{data.totalTestResults}}</td>
            <td>{{data.dataQualityGrade}}</td>
        </tr>
        </tbody>
    </table>

</div>


<script>


</script>
