<div>

    <p><b> State: {{data.state}} </b></p>
    <p><b> Date:  <span  id="getDate">{{data.date}} </span></b></p>
    <p><b>DataQualityGrade: {{data.dataQualityGrade}}</b></p>


    <table class="table">

        <thead>
        <tr>
            <th scope="col">Positive</th>
            <th scope="col">Negative</th>
            <th scope="col">Recovered</th>
            <th scope="col">PositiveIncrease</th>
            <th scope="col">Total</th>
        </tr>
        </thead>


        <tbody>
        <tr>
            <th scope="row" class="num">{{data.positive}}</th>
            <td class="num">{{data.negative}}</td>
            <td class="num">{{data.recovered}}</td>
            <td class="num">{{data.positiveIncrease}}</td>
            <td class="num">{{data.total}}</td>
        </tr>
        </tbody>
    </table>

</div>


<script>
  var $date = $('#getDate').text();
  // var $num = $('.num').text();

  $.each($('.num'), function(index, element) {
      if($(this).text() == ''){
          $(this).text('Not available');
      }
  });



  let year = $date.substring(0, 4);
  let month = $date.substring(4, 6);
  if(month == '06'){
      mongth = 'June'
  }else if (month == '07'){
      month = 'July'
  }
  let day = $date.substring(6, 8);
  let str = '' + mongth + ' ' + day + ' ' + year;
  $('#getDate').text(str);








</script>


